<IfModule mod_rewrite.c>
RewriteEngine On

# Jika file/folder nyata, langsung sajikan
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Selain itu arahkan ke front controller
RewriteRule ^ index.php [L,QSA]
</IfModule>

DirectoryIndex index.php

<IfModule mod_php.c>
  php_value upload_max_filesize 512M
  php_value post_max_size 512M
  php_value max_file_uploads 50
</IfModule>
